body {
  background-color: rgb(49, 50, 51);

  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  /* color: #f3f3f4; */
  color: #d9c5b2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* model */
.credit {
  color: #d9c5b2;
  opacity: 0.5;
  text-align: center;
  font-size: 1rem;
}

/* description */
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  list-style-type: none;
}

.title {
  color: rgb(250, 15, 15);
  opacity: 0.8;
  font-size: 2.4rem;
  font-weight: bolder;
}

li {
  padding: 20px;
  cursor: default;
}

/* footer */
.footer {
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #d9c5b2;
}

a:visited {
  color: #d9c5b2;
}
